.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #707070;
    font-family: 'Open Sans' , 'sans-serif';
    font-weight: 600;
}

.content {
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    margin: .8rem;
    border-radius: .8rem;
    box-shadow: 0px .15rem .3rem .01rem #00000029;
}


.checkbox {
    appearance: none;
    background-color: white;
    border: none;
    height: 2rem;
    width: 2rem;
    border: 1px solid #00000029;
    border-radius: .2rem;
    box-shadow: inset 0px .25rem .5rem -1px #00000029;
}

.profileImg {
    border-radius: 50% ;
    height: 2rem;
    width: 2rem;
}