.container {
    display: flex;
    cursor: pointer;
}

.icon {
    position: relative;
    font-size: 29px;
    bottom: 10%;
}

.reply {
    position: relative;
    font-size: 19px;
    font-family: 'Open Sans';
    font-weight: 700;
    height: fit-content;
    letter-spacing: 0.38px;
    left: 5%;
}