.projSubBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Nunito','san-serif';
    font-weight: 800;
    background-color: #F91C85;
    padding: 2rem 4rem;
    margin: 2rem;
    border: none;
    border-radius: .75rem;
}

.btnIcon {
    padding: .8rem;
    width: 100%;
}

.btnIcon > p {
    padding: .8rem;
}